<div class="se-pre-con"></div>
<section>
    <!-- Start: sidebar menu (navbar sau khi phóng to) -->
    <div class="sidebar-menu sticky-sidebar-menu">
        <!-- Start: Logo -->
        <div class="logo">
            <h1><a href="#">ADMIN</a></h1>
        </div>
        <div class="logo-icon text-center">
            <a href="#" title="logo"><img src="/images/team_logo.png" alt="logo-icon"> </a>
        </div>
        <!-- End: Logo -->


        <div class="sidebar-menu-inner">
            <!-- Start: Navbar bên trái -->
            <ul class="nav nav-pills nav-stacked custom-nav">
                <li class="active"><a href="#"><i class="fa fa-tachometer"></i><span> Bảng điều khiển</span></a>
                </li>
                <li class="menu-list">
                    <a href="#"><i class="fa fa-cogs"></i>
                        <span>Sản phẩm<i class="lnr lnr-chevron-right"></i></span></a>
                    <ul class="sub-menu-list">
                        <li><a href="#">Create products</a> </li>
                        <li><a href="#">Read products</a> </li>
                        <li><a href="#">Delete products</a></li>
                    </ul>
                </li>
                <li><a href="#"><i class="fa fa-table"></i> <span>Người dùng</span></a></li>
                <li><a href="#"><i class="fa fa-th"></i> <span>Đơn hàng</span></a></li>
            </ul>
            <!-- End: Navbar bên trái -->


            <!-- Start: nút thu nhỏ ở góc dưới bên trái  -->
            <a class="toggle-btn">
                <i class="fa fa-angle-double-left menu-collapsed__left"><span>Thu nhỏ</span></i>
                <i class="fa fa-angle-double-right menu-collapsed__right"></i>
            </a>
            <!-- End: nút thu nhỏ ở góc dưới bên trái -->


        </div>
    </div>
    <!-- End: sidebar menu -->


    <!-- Start: Header -->
    <div class="header sticky-header">

        <!-- Start: menu thông báo  -->
        <div class="menu-right">
            <div class="navbar user-panel-top">
                <div class="search-box">
                    <form action="#" method="get">
                        <input class="search-input" placeholder="Tìm kiếm ở đây..." type="search" id="search">
                        <button class="search-submit" value=""><span class="fa fa-search"></span></button>
                    </form>
                </div>
                <div class="user-dropdown-details d-flex">
                    <div class="profile_details">
                        <ul>
                            <li class="dropdown profile_details_drop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu3" aria-haspopup="true"
                                   aria-expanded="false">
                                    <div class="profile_img">
                                        <img src="/images/admin_face.jpg" class="rounded-circle" alt="" />
                                        <div class="user-active">
                                            <span></span>
                                        </div>
                                    </div>
                                </a>
                                <ul class="dropdown-menu drp-mnu" aria-labelledby="dropdownMenu3">
                                    <li class="user-info">
                                        <h5 class="user-name">Admin's name</h5>
                                        <span class="status ml-2">Trực tuyến</span>
                                    </li>
                                    <li> <a href="#"><i class="lnr lnr-user"></i>Hồ sơ của tôi</a> </li>
                                    <li> <a href="#"><i class="lnr lnr-heart"></i>Cài đặt</a> </li>
                                    <li class="logout"> <a href="#"><i class="fa fa-power-off"></i>Đăng xuất</a> </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End: menu thông báo  -->
    </div>
    <!-- End: Header -->

    <!-- Start: content chính  -->
    <div class="main-content">
        <!-- nội dung xin chào -->
        <div class="container-fluid content-top-gap">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Bảng điều khiển</li>
                </ol>
            </nav>
            <div class="welcome-msg pt-3 pb-4">
                <h1>Chào mừng trở lại, <span class="text-primary">Admin's name</span> </h1>
                <p>Admin có thể thêm, xoá, sửa sản phẩm & tài khoản người dùng.</p>
            </div>

            <!-- Start: Thống kê -->
            <div class="statistics">
                <div class="row">
                    <div class="col-xl-6 pr-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-users"> </i>
                                    <h3 class="text-primary number">0.00 M</h3>
                                    <p class="stat-text">Tổng người dùng</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-eye"> </i>
                                    <h3 class="text-secondary number">0.00 K</h3>
                                    <p class="stat-text">Truy cập mỗi ngày</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 pl-xl-2">
                        <div class="row">
                            <div class="col-sm-6 pr-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cloud-download"> </i>
                                    <h3 class="text-success number">0.00 M</h3>
                                    <p class="stat-text">Downloads</p>
                                </div>
                            </div>
                            <div class="col-sm-6 pl-sm-2 statistics-grid">
                                <div class="card card_border border-primary-top p-4">
                                    <i class="lnr lnr-cart"> </i>
                                    <h3 class="text-danger number">0,00 k</h3>
                                    <p class="stat-text">Đơn hàng</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End: Thống kê -->


            <!-- Start: accordions -->
            <div class="accordions">
                <div class="row">
                    <!-- accordion style 1 -->
                    <div class="col-lg-12 mb-4">
                        <div class="card card_border">
                            <div class="card-header chart-grid__header">
                                Bootstrap Accordions
                            </div>
                            <div class="card-body">
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingOne">
                                            <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseOne"
                                               aria-expanded="true" aria-controls="collapseOne">Xem thêm</a>
                                        </div>

                                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                             data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                Tài khoản bị khoá
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingTwo">
                                            <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseTwo"
                                               aria-expanded="false" aria-controls="collapseTwo">Xem thêm</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                Danh sách người dùng
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header bg-white p-0" id="headingThree">
                                            <a href="#" class="card__title p-3" data-toggle="collapse" data-target="#collapseThree"
                                               aria-expanded="false" aria-controls="collapseThree">Xem thêm</a>
                                        </div>
                                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                             data-parent="#accordionExample">
                                            <div class="card-body para__style">
                                                Danh sách sản phẩm.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- //accordion style 1 -->
                </div>
            </div>
            <!-- End: accordions -->





        </div>
        <!-- End: content chính -->

    </div>












</section>






<!-- Start: footer section -->
<footer class="dashboard">
    <p>&copy 2020 468 Team. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank"
                                                               class="text-primary">W3layouts.</a></p>
</footer>
<!-- End: footer section -->

<!-- move top -->
<button onclick="topFunction()" id="movetop" class="bg-primary" title="Go to top">
    <span class="fa fa-angle-up"></span>
</button>
<script>
    // When the user scrolls down 20px from the top of the document, show the button
    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
        } else {
            document.getElementById("movetop").style.display = "none";
        }
    }

    // When the user clicks on the button, scroll to the top of the document
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!-- /move top -->

<script src="/javascripts/jquery-3.3.1.min.js"></script>
<script src="/javascripts/jquery-1.10.2.min.js"></script>




<script src="/javascripts/jquery.nicescroll.js"></script>
<script src="/javascripts/scripts.js"></script>

<!-- close script -->
<script>
    let closebtns = document.getElementsByClassName("close-grid");
    let i;

    for (i = 0; i < closebtns.length; i++) {
        closebtns[i].addEventListener("click", function () {
            this.parentElement.style.display = 'none';
        });
    }
</script>
<!-- //close script -->

<!-- disable body scroll when navbar is in active -->
<script>
    $(function () {
        $('.sidebar-menu-collapsed').click(function () {
            $('body').toggleClass('noscroll');
        })
    });
</script>
<!-- disable body scroll when navbar is in active -->

<!-- loading-gif Js -->
<script src="/javascripts/modernizr.js"></script>
<script>
    $(window).load(function () {
        // Animate loader off screen
        $(".se-pre-con").fadeOut("slow");
    });
</script>
<!--// loading-gif Js -->

<!-- Bootstrap Core JavaScript -->
<script src="/javascripts/bootstrap.min.js"></script>