<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>{{title}}</title>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- google fonts -->
      <link href="//fonts.googleapis.com/css?family=Nunito:300,400,600,700,800,900&display=swap" rel="stylesheet">
      <!-- Template CSS -->
      <link rel='stylesheet' href='/stylesheets/style-starter.css' />
  </head>

  <body class="sidebar-menu-collapsed">
    {{{body}}}
  </body>

</html>
